/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

/* Cabeçalho */
.header {
  background-color: #7b2cbf;
  color: #fff;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;

  width: 80%;
  max-width: 750px;
  margin: 10px auto;
}

h1 {
  align-items: center;
}

/* Tamanho dos copos */
.sizes {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 20px 40px;
  border-radius: 12px;
  text-align: center;
  width: 80%;
  max-width: 750px;
  margin: 10px auto;
}

.size-img {
  margin-bottom: 8px;
}

.size-btn {
  display: flex;
  flex-direction: column; /* Isso empilha imagem e texto verticalmente */
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 2px solid #7b2cbf;
  border-radius: 12px;
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  transition: .1s ease-in-out;
  overflow: hidden;
  width: 100px; /* opcional: define largura fixa para alinhamento */
  height: 120px; /* opcional: define altura fixa para consistência */
  text-align: center;
}

.size-btn:hover {
  background-color: #7b2cbf;
  color: #fff;
  scale: 1.1;
  transition: .2s ease-in-out;
}

.size-btn.selected {
  background-color: #7b2cbf;
  color: #fff;
  box-shadow: 0 0px 20px rgba(123, 44, 191, 0.4);
  scale: 1.1;
}

/*ACOMPANHAMENTOS*/
.acompanhamento-group {
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.acompanhamento-title {
  font-weight: bold;
  color: #7b2cbf;
  margin-bottom: 10px;
  font-size: 16px;
}

.acompanhamento-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
}


/* Formulário de pedido */
.order-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
}

.order-form label {
  font-weight: bold;
  display: block;
  margin: 10px 0 5px;
}

.order-form input,
.order-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}

.order-form input[type="checkbox"] {
  width: auto;
}

.submit-btn {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.submit-btn:hover {
  background-color: #357ab7;
}

.submit-btn-add {
  background-color: #4a90e2;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.submit-btn-add:hover {
  background-color: #357ab7;
}
